<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.designge.smonbarcode"
	    versionCode="16" 
        version   = "1.1.4"
		package="com.designge.smonbarcode"
		xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SMonBarcode</name>


	<icon src="logo.png" />


<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />


<preference name="permissions" value="none"/>

<preference name="android-build-tool" value="gradle" /> 

<preference name="phonegap-version" value="cli-9.0.0" /> 
<preference name="orientation" value="portrait" />
<preference name="target-device"              value="handset" />
<!--	<preference name="fullscreen" value="true" />-->
<preference name="webviewbounce" value="true" />  
<preference name="DisallowOverscroll" value="false" />
<preference name="stay-in-webview"            value="true" /> 
<preference name="exit-on-suspend"            value="false" />          
<preference name="show-splash-screen-spinner" value="false" />    
<preference name="auto-hide-splash-screen"    value="false" />
<preference name="disable-cursor"             value="false" />
<preference name="android-minSdkVersion"      value="18" />         
<preference name="android-installLocation"    value="auto" />
<preference name="EnableViewportScale"    value="true" />
<preference name="AndroidPersistentFileLocation" value="Compatibility" />


	<description>
    S-Monitoring Barcode Reader
    </description>
	

    <author href="http://design.ge" email="uabashidze@gmail.com">
        Cyborg-Mcloud
    </author>

 


	<feature name="App">
	  <param name="android-package" value="com.designge.smonbarcode"/>
	</feature>
	
<feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
<feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    <param name="ios-package" value="CDVCamera" />
</feature>
<plugin name="cordova.plugins.diagnostic" src="npm"/>
<plugin name="phonegap-plugin-barcodescanner" >
  <param name="CAMERA_USAGE_DESCRIPTION" value="To scan barcodes." />
</plugin>
<platform name="android">
	<allow-intent href="market:*" />
		<config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-feature android:name="android.hardware.location.gps" />
			<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
<!--			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
		</config-file>
</platform>


<gap:plugin name="cordova-plugin-request-location-accuracy" source="npm" />
<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/device" />
<gap:plugin name="cordova-plugin-geolocation" source="npm"/>
<gap:plugin name="cordova-plugin-camera" source="npm"  />
<gap:plugin name="cordova-plugin-device" source="npm" />

<gap:plugin name="cordova-plugin-inappbrowser"  source="npm" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<feature name="http://api.phonegap.com/1.0/file" />

<gap:plugin name="cordova-plugin-inappbrowser"  source="npm" />
<plugin name="cordova-plugin-globalization" source="npm" />
<plugin name="cordova-plugin-file-transfer" spec="1" source="npm" />

<plugin name="cordova-plugin-dialogs" spec="^1.3.4"/>
	<plugin name="cordova-android-support-gradle-release" spec="^1.1.1">
    <variable name="ANDROID_SUPPORT_VERSION" value="26.0.1" />
</plugin>


</widget>